!.keep
.DS_Store
.swp
.byebug_history
.byebug_history
.docker-sync/daemon.log
.env
.idea/
.powenv
.rdebugrc
.ruby-gemset
.rvmrc
.tddium
.tool-versions
/.bundle/
/app/assets/javascripts/i18n/translations.js
/doc/
/dump.rdb
/log
/log/.log
/node_modules
/pkg/
/public/assets
/public/javascripts
/public/packs
/public/packs-test
/public/system
/public/tmp
/spec/commands
/spec/controllers
/spec/custom
/spec/forms
/spec/helpers
/spec/jobs
/spec/lib
/spec/mailers
/spec/models
/spec/policies
/spec/presenters
/spec/queries
/spec/repositories
/spec/requests
/spec/services
/spec/strategies
/spec/tasks
/spec/uploaders
/spec/utils
/test/dummy/db/.sqlite3
/test/dummy/db/.sqlite3-*
/test/dummy/log/.log
/test/dummy/storage/
/test/dummy/tmp/
/tmp
/tmp/
/working/
/yarn-error.log
bin/stubs
coverage/
custom_plan.rb
public/dev-assets
rerun.txt
tags
vendor/bundle
vendor/bundler_gems
yarn-debug.log*
zeus.json
.yarn-integrity